[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mmankale
[access "refs/for/refs/*"]
	read = group user/Mmankale
	push = group user/Mmankale
	label-Code-Review = -2..+2 group user/Mmankale
	label-Verified = -1..+1 group user/Mmankale
	rebase = group user/Mmankale
	removeReviewer = group user/Mmankale
	submit = group user/Mmankale
[access "refs/heads/*"]
	read = group user/Mmankale
	create = group user/Mmankale
	push = +force group user/Mmankale
	pushMerge = group user/Mmankale
[access "refs/tags/*"]
	push = group user/Mmankale
	push = +force group user/Mmankale
